/* faq */
.faq {
	background-color: $primaryLight;

	&__row {
		align-items: center;

		& + & {
			margin-top: 40px;

			@include media-breakpoint-down(sm) {
				margin-top: 30px;
			}
		}

		@include media-breakpoint-up(lg) {
			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
		}
	}

	&__text {
		margin-bottom: 0;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__imgWrap {
		position: relative;
		margin: 0;

		@include media-breakpoint-down(md) {
			margin-top: 20px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		border-radius: $radius;

		&_additional {
			position: absolute;
			top: -20px;
			right: -20px;
			max-width: 240px;
			border-radius: 0;

			@include media-breakpoint-down(md) {
				top: 10px;
				right: 10px;
			}
			
			@include media-breakpoint-down(sm) {
				max-width: 200px;
			}
		}
	}
}
